[Unit]
Description=gunicorn daemon for {{ project_name }}.%I
After=network.target

[Service]
PIDFile={{ app_home }}/gunicorn.pid
User={{ app_user }}
Group={{ app_user }}
Restart=always
RestartSec=5
WorkingDirectory={{ app_dir }}/backend/
ExecStart=/usr/lo   cal/bin/pipenv run gunicorn \
          -b {{ hostvars['covi.403.io'].lan_ip }}:{{ gunicorn_port }} \
          -p {{ app_home }}/gunicorn.pid \
          -w {{ ansible_processor_vcpus + 1 }} \
          {{ app_wsgi }}
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
